<!DOCTYPE HTML>
    <html>
        <head>
    <title> 148222, 148084 </title>

    <meta http-equiv='content-type' content='text/html; charset=UTF-8'>
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />
    <meta http-equiv='refresh' content='10'>

    <link rel="stylesheet" href='../static/rpi_style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <h1>
        TRON ARCADE
    </h1>
    <h3>
        Gracz 1
    </h3>
    <div id="btnContainer">
        <div>
            <button id='up' class="controls">&#94;</button>
        </div>
        <div>
            <button id='left' class="controls">&lt;</button>
            <button id='sup1' class="controls">ghost</button>
            <button id='right' class="controls">&gt;</button>
        </div>
        <div>
            <button id='down' class="controls">v</button>
        </div>

        <div>
            <button id='start' class="controls">ready</button>
        </div>
        <br><br>
        <a href="/">back</a>
        <br>
    </div>
   <script>
        var up = document.getElementById("up")
        var down = document.getElementById("down")
        var left = document.getElementById("left")
        var right = document.getElementById("right")
        var sup1 = document.getElementById("sup1")
        var start = document.getElementById("start");

        up.addEventListener("click", ()=>SendEvent("up"))
        down.addEventListener("click", ()=>SendEvent("down"))
        left.addEventListener("click", ()=>SendEvent("left"))
        right.addEventListener("click", ()=>SendEvent("right"))
        start.addEventListener("click", ()=>SendEvent("start"))
        sup1.addEventListener("click", ()=>SendEvent("ghost"))


        function SendEvent(event){
            fetch("http://localhost:5001/player1", {
                method: "POST",
                headers: {"Content-Type": "text/html"},
                body: event
            })
            console.log(event)
            }
    </script>
</body>
</html>
