<!DOCTYPE HTML>
<html>

<head>
    <title> 148222, 148084 </title>

    <meta http-equiv='content-type' content='text/html; charset=UTF-8'>
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />
    <meta http-equiv='refresh' content='10'>

    <link rel="stylesheet" href='../static/rpi_style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body>
    <h1>
        TRON ARCADE
    </h1>

    <div id='btnContainer'>
        <a href="/player1" class = "site1">Gracz 1</a>
        <a href="/player2" class = "site1">Gracz 2</a>
    </div>
</body>
</html>